body{
    margin: 0;
    padding: 0;
    background: #6cf;
}

.wCanvas {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}
#canvas{
  border:1px solid red;
  margin: 0 auto;
}